.s-hero{
    cursor: url(../assets/icons/cursor.svg),auto;
    width: 100%;
    background: linear-gradient(115.6deg, #000811 -7.5%, #000E17 105.49%);
    position: relative;
    height: 74.7rem;
    .container{
        display: flex;
        align-items: flex-start;
        justify-content: space-between;
        gap: 16.4rem;
        .left-content{
            width: 100%;
            max-width: 59.3rem;
            padding-top: 11.8rem;
            .content-text{
                span{
                    font-family: 'Poppins', sans-serif;
                    font-weight: 500;
                    font-size: 1.6rem;
                    line-height: 120%;
                    letter-spacing: 2px;
                    color: var(--gray-500);
                    strong{
                        color: white;
                    }
                    // Animation Icon Hand
                    .icon-hand{
                        width: 100%;
                        max-width: 19px;
                        margin-bottom: -7px;
                        -webkit-animation: iconhand 2s linear infinite alternate;
                        animation: iconhand 2s linear infinite alternate;
                        transform: translate3d(0, -6px, 0); // (tx, ty, tx)
                    }
                }
                h1{
                    margin-top: 1.6rem;
                    margin-bottom: 2.4rem;
                }
                
                p{
                    width: 100%;
                    max-width: 45.1rem;
                    font-family: 'Inter', sans-serif;
                    font-weight: 400;
                    font-size: 1.8rem;
                    line-height: 150%;
                    color: var(--gray-400);
                    margin-bottom: 7.2rem;
                }
                .project-link{
                    display: flex;
                    align-items: center;
                    gap: 1.6rem;
                    font-family: 'Poppins', sans-serif;;
                    font-weight: 600;
                    font-style: normal;
                    font-size: 1.8rem;
                    line-height: 120%;
                    text-decoration-line: underline;
                    color: var(--gray-100);
                    transition: all 0.3s;
                    &:hover{
                        color: var(--gray-200);
                    }
                }
            }
        }
        .right-content{
            padding-top: 6.9rem;
            width: 100%;
            .slide-principal{
                position: relative;
                .circle-rotate{
                    position: absolute;
                    top: 35px;
                    left: -44px;
                    z-index: 2000;
                    width: 9rem;
                    height: 9rem;
                    .rotate{
                        position: absolute;
                        top: 0;
                        left: 0;
                        margin: auto;
                    }
                    .arrow{
                        z-index: 1999;
                        position: absolute;
                        top: 27px;
                        right: 0;
                        left: 28px;
                        bottom: 0;
                        margin: 0 auto;
                    }
                }
                .swiper-wrapper{
                    max-width: 49rem;
                    .swiper-slide{
                        position: relative;
                        .bg-image{
                            max-width: 49rem;
                        }
                        .logo-slide{
                            position: absolute;
                            right: -34px;
                            z-index: 1999;
                            bottom: 213px;
                            opacity: 0;
                            
                        }
                        &-active{
                            .logo-slide{
                                opacity: 1;
                            }
                        }
                    }
                }
                .swiper-pagination-fraction{
                    margin-left: 2.4rem;
                    margin-bottom: 42px;
                    max-width: 37px;
                    font-family: 'Poppins', sans-serif;
                    font-weight: 600;
                    font-size: 1.1rem;
                    line-height: 150%;
                    letter-spacing: 0.03em;
                    color: var(--gray-100);
                    .swiper-pagination-current, .swiper-pagination-total{
                        font-family: 'Poppins', sans-serif;
                        font-weight: 600;
                        font-size: 1.1rem;
                        line-height: 150%;
                        letter-spacing: 0.03em;
                        color: var(--gray-100);
                    }
                    .swiper-pagination-total{
                        color: var(--gray-300);
                    }
                }
                .swiper-progress-bar{
                    position: absolute;
                    left: 0;
                    bottom: 33px;
                    height: 2px;
                    margin-left: 28px;
                    margin-right: 2.4rem;
                    width: 100%;
                    display: block;
                    max-width: 43.7rem;
                    z-index: 2022;
                    display: flex;
                    align-items: center;
                    background: #9A9D9E;
                    gap: 2.3rem;
                    .slide-progress-bar{
                        position: absolute;
                        bottom: 0;
                        left: 0;
                        right: 0;
                        height: 2px;
                        width: 100%;
                        opacity: 1;
                        z-index: 2022;
                        &:after{
                            content: "";
                            position: absolute;
                            top: 0;
                            left: 0;
                            display: block;
                            background: white;
                            height: 100%;
                            width: 0; 
                            transition: width 0.1s linear;
                        }
                    }
                    &.active{ // modify the pattern state
                        .slide-progress-bar{
                            opacity: 1;
                        }
                    }
                    &.animate{ // animate the progress bar
                        .slide-progress-bar{
                            &:after{
                                width: 100%;
                                transition: width 5s linear; // tempo do slide passar (5000ms) 
                            }
                        }
                    }
                }
            }
        }
    }
}