.s-hero{
    cursor: url(../assets/icons/cursor.svg),auto;
    width: 100%;
    background: linear-gradient(115.6deg, #000811 -7.5%, #000E17 105.49%);
    position: relative;
    height: 74.7rem;
    .container{
        width: 100%;
        display: flex;
        align-items: flex-start;
        justify-content: space-between;
        .left-content{
            width: 100%;
            max-width: 59.3rem;
            padding-top: 11.8rem;
            .content-text{
                span{
                    font-family: 'Poppins', sans-serif;
                    font-weight: 500;
                    font-size: 1.6rem;
                    line-height: 120%;
                    letter-spacing: 2px;
                    color: var(--gray-500);
                    strong{
                        color: white;
                    }
                    // Animation Icon Hand
                    .icon-hand{
                        width: 100%;
                        max-width: 19px;
                        margin-bottom: -7px;
                        -webkit-animation: iconhand 2s linear infinite alternate;
                        animation: iconhand 2s linear infinite alternate;
                        transform: translate3d(0, -6px, 0); // (tx, ty, tx)
                    }
                }
                h1{
                    margin-top: 1.6rem;
                    margin-bottom: 2.4rem;
                }
                p{
                    width: 100%;
                    max-width: 45.1rem;
                    font-family: 'Inter', sans-serif;
                    font-weight: 400;
                    font-size: 1.8rem;
                    line-height: 150%;
                    color: var(--gray-400);
                    margin-bottom: 7.2rem;
                }
                .project-link{
                    display: flex;
                    align-items: center;
                    gap: 1.6rem;
                    font-family: 'Poppins', sans-serif;;
                    font-weight: 600;
                    font-size: 1.8rem;
                    line-height: 120%;
                    text-decoration-line: underline;
                    color: var(--gray-100);
                    transition: all 0.3s;
                    &:hover{
                        color: var(--gray-200);
                        cursor: url(../assets/icons/cursor-link-white.svg),auto;
                    }
                }
            }
        }
        .right-content{
            padding-top: 6.9rem;
            width: 100%;
            max-width: 49rem;
            .slide-principal{
                position: relative;
                .circle-rotate{
                    position: absolute;
                    top: 35px;
                    left: -44px;
                    z-index: 2000;
                    width: 9rem;
                    height: 9rem;
                    .rotate{
                        position: absolute;
                        top: 0;
                        left: 0;
                        margin: auto;
                        transition: all 0.1s linear;
                        width: fit-content;
                        height: fit-content;
                    }
                    .arrow{
                        z-index: 1999;
                        position: absolute;
                        top: 27px;
                        right: 0;
                        left: 28px;
                        bottom: 0;
                        margin: 0 auto;
                    }
                }
                .swiper-wrapper{
                    max-width: 49rem;
                    .swiper-slide{
                        position: relative;
                        .bg-image{
                            max-width: 49rem;
                        }
                        .logo-slide{
                            position: absolute;
                            right: -35px;
                            z-index: 1999;
                            bottom: 213px;
                            opacity: 0;
                        }
                        &-active{
                            .logo-slide{
                                opacity: 1;
                            }
                        }
                    }
                }
                .swiper-pagination-fraction{
                    margin-left: 2.4rem;
                    margin-bottom: 42px;
                    max-width: 37px;
                    font-family: 'Poppins', sans-serif;
                    font-weight: 600;
                    font-size: 1.1rem;
                    line-height: 150%;
                    letter-spacing: 0.03em;
                    color: var(--gray-100);
                    .swiper-pagination-current, .swiper-pagination-total{
                        font-family: 'Poppins', sans-serif;
                        font-weight: 600;
                        font-size: 1.1rem;
                        line-height: 150%;
                        letter-spacing: 0.03em;
                        color: var(--gray-100);
                    }
                    .swiper-pagination-total{
                        color: var(--gray-300);
                    }
                }
                .swiper-progress-bar{
                    position: absolute;
                    left: 0;
                    bottom: 33px;
                    height: 2px;
                    margin-left: 28px;
                    margin-right: 2.4rem;
                    width: 100%;
                    display: block;
                    max-width: 43.7rem;
                    z-index: 2022;
                    display: flex;
                    align-items: center;
                    background: #9A9D9E;
                    gap: 2.3rem;
                    .slide-progress-bar{
                        position: absolute;
                        bottom: 0;
                        left: 0;
                        right: 0;
                        height: 2px;
                        width: 100%;
                        opacity: 1;
                        z-index: 2022;
                        &:after{
                            content: "";
                            position: absolute;
                            top: 0;
                            left: 0;
                            display: block;
                            background: white;
                            height: 100%;
                            width: 0; 
                            transition: width 0.1s linear;
                        }
                    }
                    &.active{ // modify the pattern state
                        .slide-progress-bar{
                            opacity: 1;
                        }
                    }
                    &.animate{ // animate the progress bar
                        .slide-progress-bar{
                            &:after{
                                width: 100%;
                                transition: width 5s linear; // tempo do slide passar (5000ms) 
                            }
                        }
                    }
                }
            }
        }
    }
    // Responsive
    @media (max-width: 1330px){
        .container{
            .right-content{
                max-width: 55rem;
                .slide-principal{
                    .swiper-wrapper{
                        .swiper-slide{
                            .logo-slide{
                                right: 24px;
                            }
                        }
                    }
                }
            }
        }
    }
    @media (max-width: 1165px){
        .container{
            .right-content{
                max-width: 55rem;
                .slide-principal{
                    .swiper-wrapper{
                        .swiper-slide{
                            .logo-slide{
                                right: -9px;
                            }
                        }
                    }
                }
            }
        }
    }
    @media (max-width: 1120px){
        .container{
            .right-content{
                max-width: 45rem;
                .slide-principal{
                    .swiper-wrapper{
                        max-width: 40rem;
                        .swiper-slide{
                            .bg-image{
                                max-width: 43rem;
                            }
                            .logo-slide{
                                bottom: 130px;
                                right: -18px;
                            }
                        }
                    }
                    .swiper-progress-bar{
                        max-width: 36.7rem;
                    }
                }
            }
        }
    }
    @media (max-width: 1005px){
        height: 107rem;
        .container{
            flex-direction: column;
            .left-content{
                max-width: 100%;
                padding-top: 8rem;
                .content-text{
                    h1{
                        font-size: 50px;
                    }
                    p{
                        margin-bottom: 4rem;
                    }
                }
            }
            .right-content{
                align-self: center;
            }
        }
    }
    @media (max-width: 600px){
        height: 90rem;
        .container{
            .left-content{
                padding-top: 6rem;
                .content-text{
                    h1{
                        font-size: 40px;
                    }
                    span{
                        font-size: 16px;
                    }
                    p{
                        font-size: 16px;
                        max-width: 100%;
                    }
                    .project-link{
                        font-size: 16px !important;
                    }
                }
            }
            .right-content{
                max-width: 36rem;
                padding-top: 5rem;
                .slide-principal{
                    .swiper-wrapper{
                        max-width: 36rem;
                        .swiper-slide{
                            .bg-image{
                                max-width: 36rem;
                            }
                            .logo-slide{
                               right: -38px;
                               bottom: 90px;
                            }
                        }
                    }
                    .swiper-progress-bar{
                        max-width: 30.7rem;
                    }
                }
            }
        }
    }
    @media (max-width: 475px){
        height: 80rem;
        .container{
            .left-content{
                padding-top: 4rem;
                .content-text{
                    h1{
                        margin-top: 1.5rem;
                        margin-bottom: 2rem;
                    }
                    p{
                        margin-bottom: 3rem;
                    }
                }
            }
            .right-content{
                max-width: 31rem;
                padding-top: 3rem;
                .slide-principal{
                    .swiper-wrapper{
                        max-width: 31rem;
                        .swiper-slide{
                            .bg-image{
                                max-width: 31rem;
                            }
                            .logo-slide{
                                width: 100%;
                                max-width: 6rem;
                                right: -28px;
                            }
                        }
                    }
                    .swiper-progress-bar{
                        max-width: 25.7rem;
                    }
                    .circle-rotate{
                        width: 8rem;
                        height: 8rem;
                        .arrow{
                            max-width: 25px;
                            right: 26px;
                        }
                    }
                }
            }
        }
    }
    @media (max-width: 430px){
        .container{
            .left-content{
                padding-top: 4rem;
                .content-text{
                    text-align: center;
                    h1{
                        margin-top: 1.5rem;
                        margin-bottom: 2rem;
                        font-size: 36px;
                    }
                    p{
                        margin-bottom: 3rem;
                    }
                    .project-link{
                        justify-content: center;
                    }
                }
            }
            .right-content{
                max-width: 28rem;
                padding-top: 3rem;
                .slide-principal{
                    .swiper-wrapper{
                        max-width: 28rem;
                        .swiper-slide{
                            .bg-image{
                                max-width: 28rem;
                            }
                            .logo-slide{
                                width: 100%;
                                max-width: 6rem;
                                right: -28px;
                            }
                        }
                    }
                    .swiper-progress-bar{
                        max-width: 22.7rem;
                    }
                    .circle-rotate{
                        width: 7.4rem;
                        height: 7.4rem;
                        left: -35px;
                        .arrow{
                            max-width: 26px;
                            right: 28px;
                        }
                    }
                }
            }
        }
    }
    @media (max-width: 370px){
        height: 70rem;
        .container{
            .left-content{
                padding-top: 3rem;
                .content-text{
                    h1{
                        font-size: 30px;
                    }
                    p{
                        margin-bottom: 2rem;
                    }
                }
            }
            .right-content{
                max-width: 25rem;
                padding-top: 3rem;
                .slide-principal{
                    .swiper-wrapper{
                        max-width: 25rem;
                        .swiper-slide{
                            .bg-image{
                                max-width: 25rem;
                            }
                            .logo-slide{
                                width: 100%;
                                max-width: 5rem;
                                right: -22px;
                            }
                        }
                    }
                    .swiper-progress-bar{
                        max-width: 19.7rem;
                    }
                    .circle-rotate{
                        width: 7rem;
                        height: 7rem;
                        left: -35px;
                        .arrow{
                            max-width: 34px;
                            right: 26px;
                            left: 27px;
                        }
                    }
                }
            }
        }
    }
}